<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <mappers>
      <mapper resource="sqlMap/memberSQL.xml"/>
      <mapper resource="sqlMap/MyPageSQL.xml"/>
      <mapper resource="sqlMap/DesignerSQL.xml"/>
      <mapper resource="sqlMap/ReviewSQL.xml"/>
   </mappers>
</configuration>